/*
NEON_PURPLE = #C724B1;
IMPERIAL_PURPLE = #642F6C;
ANDES_SKY = #71DBD4;
EXPLORER_BLUE = #58A7AF;
FILTERED_LIGHT = #B3B0C4;
MAGIC_NIGHT = #3A3A59;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #3A3A59;
}

.background-image {
	background-image: url(img/noodlelord_hires.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	background-attachment: fixed;
  }

header {
  background-color: #642F6C;
  color: #fff;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #C724B1;
  border-radius: 3px;
}

button {
  background-color: #71DBD4;
  color: #642F6C;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #58A7AF;
}

footer {
	background-color: #642F6C;
	color: #fff;
	padding: 1rem;
	text-align: center;
  }
  
  .container {
	max-width: 800px;
	margin: 0 auto;
  }
  
  #typewriter {
	overflow: hidden; /* Hide overflowing text */
	white-space: nowrap; /* Prevent line breaks */
	border-right: 0.15em solid #000; /* Add a blinking cursor effect */
	font-size: 24px; /* Adjust the font size as needed */
	font-family: "Courier New", monospace; /* Choose a monospaced font for typewriter effect */
  }  
