
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
	font-family: 'Orbitron', sans-serif;
	tab-size: 4 !important;
}

body {
	text-align: center;
	background-color: black;
	color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	position: fixed;
	width: 100%;
}

#table {
	background-color: black;
	border-top: 5px solid green;
	border-bottom: 5px solid green;
}
